@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
body {
  color: white;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.error {
  height: 20px;
  color: rgb(156, 16, 16);
}

form {
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: white;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  color: #50a3a2;
  border-radius: 3px;
  width: 282px;
  font-size: 18px;
}
button[disabled] {
  color: grey;
}
.logged-in{
  display: block;
  width: 20%;
  margin: 5% auto;
}
.password-changed-dialog {
  margin: 10% auto;
}
.forgot,
.cancel,
.back-to-login {
  max-width: fit-content;
  margin: auto;
}
.forgot:hover,
.cancel:hover,
.back-to-login:hover {
  text-decoration: underline;
  cursor: pointer;
}